<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappyBirdClone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7CF9C81256D2B3E00B078F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CF9C9B256D2B4300B078F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CF9CA6256D2B4300B078F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
